
<%= render :partial => 'shared/errors', :locals => {:object => @artist} %>

<%= form_for(@artist, :html => {:multipart => true}) do |f| %> <! --tells html form that there will be files included here-->

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
    <%= label_tag "Add URL for photo" %>
    <%= f.text_field :remote_photo_url %>
    <%= image_tag(@artist.photo_url) if @artist.photo? %>

  <div class='field'>
    <% Album.all.each do |album| %>
      <%= check_box_tag 'artist[album_ids][]', album.id, album.in?(@artist.albums.to_a) %>
      <span><%= album.name %></span>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
