<div class="name">
	<%= @artist.name %> <%= link_to 'Edit', edit_artist_path(@artist),:class => "edit" %>
</div>
<div class="main-details grid_8">
	<%= image_tag @artist.photo %> 
</div> <!--.main-details-->
<div class='meta grid_4'>
  <h4>Albums</h4>
  <ul>
        <% @artist.albums.each do |album| %>
        <li><%= link_to album.name, album %></li>
        <% end %>
  </ul>
  <%= link_to 'Add all albums', :add_all, method: :post %>
</div><!--.grid_4-->