<%= render :partial => 'shared/errors', :locals => {:object => @song} %>

<%= form_for(@song, :html => {:multipart => true}) do |f| %>
  <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <div class="field grid_12">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field grid_12">
    <%= image_tag(@song.photo_url) if @song.photo? %>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
    <%= label_tag "Add URL for photo" %>
    <%= f.text_field :remote_photo_url %>
  </div>

  <div class="field grid_12">
    <%= f.label :song %>
    <%= f.file_field :song %>
  </div>

  <div class="field grid_12">
    <%= f.label :you_tube %>
    <%= f.text_field :you_tube %>
  </div>
  
  <div class="field grid_12">
    <%= f.label :you_tube %>
    <%= f.text_field :you_tube %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
