<p id="notice"><%= notice %></p>


<div class="show">
	<span class='name-box'>
		Song:
	  <%= @song.name %>
	</span>
	<span class='photo-box'>
	  Song Photo:
	  <%= image_tag @song.photo, :class => 'photo' %> 
	</span>

<%= link_to 'Edit', edit_song_path(@song), :class => 'button' %> |
<%= link_to 'Back', songs_path, :class => 'button'  %>
</div>