<div class='name'>
	<%= @song.name %> <%= link_to 'Edit', edit_song_path(@song), :class => 'edit' %>
</div>
<div class="main-details grid_8">
<span class="subname">
	Artist:
	<%= link_to @artist.name, @artist %>
	Album:
	<%= link_to @album.name, @album %>
</span>
	<%= image_tag @song.photo %> 

  <p> 
  <b>Audio:</b>
  <%= audio_tag @song.mp3, :controls => true %>
  </p>
  
  <p>
  <b>Youtube:</b>
  <%= render :partial => 'shared/youtube', :locals => {:youtube => @song.youtube } %>
  </p>

</div><!--.main-details-->
<div class="meta">
	<h4>Lyrics</h4>
	<%= @lyric %>
</div>