<span class='name'>
	<%= @song.name %>
</span>
<div class="main-details grid_8">
<span class="subname">
	Artist:
	<%= link_to @artist.name, @artist %>
	/
	Album:
	<%= link_to @album.name, @album %>
</span>
	<%= image_tag @song.photo, :class => 'photo' %> 
</div><!--.main-details-->
<div class="show-right">
	<p>Lyrics</p>
	<%= @lyric %>
</div>
<div class="clear"></div>
<%= link_to 'Edit', edit_song_path(@song), :class => 'button' %>
<%= link_to 'Back', songs_path, :class => 'button'  %>