<div class='name'>
	<%= @song.name %> <%= link_to 'Edit', edit_song_path(@song), :class => 'edit' %>
</div>
<div class="main-details grid_8">
<span class="subname">
	
</span>
	<%= image_tag @song.photo %> 

</div><!--.main-details-->
<div class="meta">
	<h4>Details</h4>
	<p> 
  <b>Audio:</b>
  <%= audio_tag @song.mp3, :controls => true %>
  </p>
  
  <p>
  <b>Youtube:</b>
  <%= render :partial => 'shared/youtube', :locals => {:youtube => @song.you_tube } %>
  </p>
</div>