<p id="notice"><%= notice %></p>

<p>
  <b>Album Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Album Photo:</b>
  <%= image_tag @album.photo %> <!-- image tag will make the image show up -->
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', album_path %>
