<span class="name">
	<%= @album.name %>
</span>
<div class="main-details grid_8">
	Artist:
	<%= link_to @album.artist.name, @album.artist %>
	<%= image_tag @album.photo, :class => "photo" %>
</div><!--.main-details-->
<div class='meta grid_4'>
	<p>Tracks</p>
	<ul>
    <% @album.songs.each do |song| %>
    <li><%= link_to song.name, song %></li>
    <% end %>
   </ul>
</div><!--.meta-->
<div class="clear"></div>

<%= link_to 'Edit', edit_album_path(@album), :class => "button" %>
<%= link_to 'Back', albums_path, :class => "button" %>