<div class="name">
	<%= @album.name %> <%= link_to 'Edit', edit_album_path(@album), :class => "edit" %>
</div>
<div class="subname">
	Artist: <%= link_to @album.artist.name, @album.artist if @album.artist %>
</div>
<div class="main-details grid_8">
	<%= image_tag @album.photo  %>
</div><!--.main-details-->
<div class='meta grid_4'>
	<h4>Tracks</h4>
	<ul>
    <% @album.songs.each do |song| %>
    <li><%= link_to song.name, song %></li>
    <% end %>
   </ul>
   <%= link_to 'Add all songs', :add_all_songs, method: :post %>
</div><!--.meta-->