<!DOCTYPE html>
<html>
<head>
  <title>Songz</title>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


	<header>
		<nav class="container_12">
			<h1 class="logo">Beat Hypem</h1>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Albums", albums_path %></li>
	      		<li><%= link_to "New Album", new_album_path %></li>
	      		<li><%= link_to "Artists", artists_path %></li>
	      		<li><%= link_to "New Artist", new_artist_path %></li>  
				<li><%= link_to "Songs", songs_path %></li>
	      		<li><%= link_to "New Song", new_song_path %></li>
			</ul>
    	</nav>
	</header>
	<div class="container_12">

<%= yield %>
	

	</div> 
	<footer>
		<div class="container_12">
			<p>&copy; 2012 Beat Hypem Corp :: Dustin - Marc - Jon - Thomas </p>
		</div>
	</footer>

</body>
</html>
